<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metrics</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body data-ng-app="metrics">
Add metric:<br>
<textarea row = '1' cols ='1' data-ng-model="text"></textarea>
<textarea row = '1' cols ='1' data-ng-model="text"></textarea>
<textarea row = '1' cols ='1' data-ng-model="text"></textarea>
<textarea row = '1' cols ='1' data-ng-model="text"></textarea>
<textarea row = '1' cols ='1' data-ng-model="text"></textarea>
<button data-ng-click = 'add()'>Add metric</button>


<script type="text/javascript" src=js/angular.min.js></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>